<div class="btn-previous" (click)="BtnPrevious()">
    <span>Back</span>
</div>

<div>
    <section class="user-background">
        <div>
            <img src="https://image.tmdb.org/t/p/w500{{movieDetails.poster_path}}" class="details-poster" alt="{{movieDetails.title}}" />
        </div>
        <div class=" ml-10 movie-content">
            <div class="movie-title mt-10">
                <label for="">Movie: </label>
                <span>{{movieDetails.original_title}} </span>
            </div>
            <div class="release-date mt-10">
                <label for="">Release Date: </label>
                <span class="release-date">{{movieDetails.release_date}}</span>
            </div>
            <div class="overview mt-10">
                <label for="">Overview: </label>
                <p>
                    {{movieDetails.overview}}
                </p>
            </div>
            <div>
                <label for="">Vote Average: </label>
                <span class="">{{movieDetails.vote_average}}</span>
            </div>
        </div>
    </section>